<section class="hero">
    <div class="hero-content" style="margin-left: 16px; margin-right: 16px;">
        <h1>Material Icons Library (Prototype)</h1>
        <p>Material Icons are awesome, but the official documentation is incomplete, and lack some icons.</p>
        <p>
            Here, you'll get every available icon, its aliases if any, and its availability in the different themes.<br />
            <i>As a bonus, click on any name or icon to copy its name.</i>
        </p>

        <a href="https://github.com/Dugnychon/MaterialIconsLibrary" mat-raised-button>Github</a>
    </div>
</section>
