.category-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 7.5rem);
  grid-row-gap: 1rem;
  justify-content: space-between;

  &::after {
    content: '';
    flex: auto;
  }
}

.library-container {
  margin-left: 2.25rem;
  flex-grow: 1;

  // Reverse trick so we can use the sibling selector with :empty to hide the category name
  display: flex;
  flex-direction: column-reverse;

  .category-group:empty + h2 {
    display: none;
  }

  h2 {
    margin-top: 1.5rem;
  }
}

:host-context(.is-small) {
  .category-group {
    justify-content: space-around;
  }

  .library-container {
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h2 {
    margin-top: -1rem;
  }
}
