.category-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 136px);
  justify-content: space-between;

  &::after {
    content: '';
    flex: auto;
  }
}

.library-container {
  margin-left: 36px;
  flex-grow: 1;

  // Reverse trick so we can use the sibling selector with :empty to hide the category name
  display: flex;
  flex-direction: column-reverse;

  .category-group:empty + h2 {
    display: none;
  }

  h2 {
    margin-top: 24px;
  }
}

:host-context(.is-small) {
  .category-group {
    justify-content: space-around;
  }

  .library-container {
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  h2 {
    margin-top: -4px;
  }
}
