.library-container {
    max-width: 1440px;
    margin-right: auto;
    padding-left: 36px;
    padding-right: 36px;

    &.is-small {
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: -20px;
    }
}

.category_name {
    &:only-child {
        visibility: hidden;
    }
}

.mat-nav-list {
    transition: background-color ease 200ms;
    .mat-list-item {
        border-radius: 8px;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    .active-theme {
        background: #48a697;
        color: white;
    }
}

.category-group:first-of-type {
    margin-top: 16px;
}
