<app-header class="mat-elevation-z8"></app-header>
<div
    [ngStyle]="!isSmallScreen && { 'padding-left': '36px', 'padding-right': '36px', 'flex-direction': 'row' }"
    class="main-container"
>
    <section *ngIf="!isSmallScreen" class="filter-container">
        <mat-form-field class="filter-search-field" floatLabel="never">
            <button mat-icon-button matPrefix>
                <mat-icon>search</mat-icon>
            </button>
            <input [(ngModel)]="term" matInput placeholder="Filter by name" type="text" />
        </mat-form-field>
        <mat-nav-list>
            <h3>Theme</h3>
            <mat-list-item (click)="iconStyle = ''" [class.active-theme]="iconStyle === ''">Regular</mat-list-item>
            <mat-list-item
                (click)="iconStyle = 'library-outlined'"
                [class.active-theme]="iconStyle === 'library-outlined'"
                >Outlined
            </mat-list-item>
            <mat-list-item (click)="iconStyle = 'library-sharp'" [class.active-theme]="iconStyle === 'library-sharp'"
                >Sharp
            </mat-list-item>
            <mat-list-item
                (click)="iconStyle = 'library-two-tone'"
                [class.active-theme]="iconStyle === 'library-two-tone'"
                >Two Tone
            </mat-list-item>
            <mat-list-item (click)="iconStyle = 'library-round'" [class.active-theme]="iconStyle === 'library-round'"
                >Round
            </mat-list-item>
        </mat-nav-list>
        <mat-form-field class="filter-category-field">
            <h3>Category</h3>
            <mat-select [(ngModel)]="category">
                <mat-option value="">All</mat-option>
                <mat-option value="unsorted">Unsorted</mat-option>
                <mat-option value="action">Action</mat-option>
                <mat-option value="alert">Alert</mat-option>
                <mat-option value="av">Av</mat-option>
                <mat-option value="communication">Communication</mat-option>
                <mat-option value="content">Content</mat-option>
                <mat-option value="device">Device</mat-option>
                <mat-option value="editor">Editor</mat-option>
                <mat-option value="file">File</mat-option>
                <mat-option value="hardware">Hardware</mat-option>
                <mat-option value="home">Home</mat-option>
                <mat-option value="image">Image</mat-option>
                <mat-option value="maps">Maps</mat-option>
                <mat-option value="navigation">Navigation</mat-option>
                <mat-option value="notification">Notification</mat-option>
                <mat-option value="places">Places</mat-option>
                <mat-option value="social">Social</mat-option>
                <mat-option value="toggle">Toggle</mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <section *ngIf="isSmallScreen" class="filter-container-small">
        <mat-form-field class="filter-search-field" floatLabel="auto">
            <input [(ngModel)]="term" matInput placeholder="Filter by name" type="text" />
        </mat-form-field>
        <div class="filter-row">
            <mat-form-field class="filter-theme-field">
                <mat-label>Theme</mat-label>
                <mat-select [(ngModel)]="iconStyle">
                    <mat-option value="">Regular</mat-option>
                    <mat-option value="library-outlined">Outlined</mat-option>
                    <mat-option value="library-sharp">Sharp</mat-option>
                    <mat-option value="library-two-tone">Two tone</mat-option>
                    <mat-option value="library-round">Rounded</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-category-field">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="category">
                    <mat-option value="">All</mat-option>
                    <mat-option value="unsorted">Unsorted</mat-option>
                    <mat-option value="action">Action</mat-option>
                    <mat-option value="alert">Alert</mat-option>
                    <mat-option value="av">Av</mat-option>
                    <mat-option value="communication">Communication</mat-option>
                    <mat-option value="content">Content</mat-option>
                    <mat-option value="device">Device</mat-option>
                    <mat-option value="editor">Editor</mat-option>
                    <mat-option value="file">File</mat-option>
                    <mat-option value="hardware">Hardware</mat-option>
                    <mat-option value="home">Home</mat-option>
                    <mat-option value="image">Image</mat-option>
                    <mat-option value="maps">Maps</mat-option>
                    <mat-option value="navigation">Navigation</mat-option>
                    <mat-option value="notification">Notification</mat-option>
                    <mat-option value="places">Places</mat-option>
                    <mat-option value="social">Social</mat-option>
                    <mat-option value="toggle">Toggle</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <main [class.is-small]="isSmallScreen" [ngClass]="iconStyle">
        <app-icon-container
            *ngFor="let category of groupedByCategory | filterCategory: category"
            [items]="category"
            [term]="term"
        ></app-icon-container>
    </main>
</div>
