<app-header class="mat-elevation-z8"></app-header>
<div>
    <div *ngIf="isSmallScreen" style="padding: 16px;">
        <mat-form-field floatLabel="auto" style="display: block;">
            <input [(ngModel)]="term" matInput placeholder="Filter by name" type="text" />
        </mat-form-field>
        <div style="display: flex; flex-direction: row;">
            <mat-form-field style="width: calc(50% - 6px); margin-right: 6px;">
                <mat-label>Theme</mat-label>
                <mat-select [(ngModel)]="iconStyle">
                    <mat-option value="">Regular</mat-option>
                    <mat-option value="library-outlined">Outlined</mat-option>
                    <mat-option value="library-sharp">Sharp</mat-option>
                    <mat-option value="library-two-tone">Two tone</mat-option>
                    <mat-option value="library-round">Rounded</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: calc(50% - 6px); margin-left: 6px;">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="category">
                    <mat-option value="">All</mat-option>
                    <mat-option value="undocumented">Undocumented</mat-option>
                    <mat-option value="action">Action</mat-option>
                    <mat-option value="alert">Alert</mat-option>
                    <mat-option value="av">Av</mat-option>
                    <mat-option value="communication">Communication</mat-option>
                    <mat-option value="content">Content</mat-option>
                    <mat-option value="device">Device</mat-option>
                    <mat-option value="editor">Editor</mat-option>
                    <mat-option value="file">File</mat-option>
                    <mat-option value="hardware">Hardware</mat-option>
                    <mat-option value="home">Home</mat-option>
                    <mat-option value="image">Image</mat-option>
                    <mat-option value="maps">Maps</mat-option>
                    <mat-option value="navigation">Navigation</mat-option>
                    <mat-option value="notifications">Notification</mat-option>
                    <mat-option value="places">Places</mat-option>
                    <mat-option value="social">Social</mat-option>
                    <mat-option value="toggle">Toggle</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div
        style="display: flex; flex-direction: row;"
        [ngStyle]="!isSmallScreen && { 'padding-left': '36px', 'padding-right': '36px' }"
    >
        <section *ngIf="!isSmallScreen" style="display: flex; flex-direction: column; margin-top: 16px; margin: 12px;">
            <mat-form-field floatLabel="never" style="margin-left: 8px; margin-right: 8px;">
                <button mat-icon-button matPrefix>
                    <mat-icon>search</mat-icon>
                </button>
                <input [(ngModel)]="term" matInput placeholder="Filter by name" type="text" />
            </mat-form-field>
            <mat-nav-list>
                <h3>Theme</h3>
                <mat-list-item (click)="iconStyle = ''" [class.active-theme]="iconStyle === ''">Regular</mat-list-item>
                <mat-list-item
                    (click)="iconStyle = 'library-outlined'"
                    [class.active-theme]="iconStyle === 'library-outlined'"
                    >Outlined
                </mat-list-item>
                <mat-list-item
                    (click)="iconStyle = 'library-sharp'"
                    [class.active-theme]="iconStyle === 'library-sharp'"
                    >Sharp
                </mat-list-item>
                <mat-list-item
                    (click)="iconStyle = 'library-two-tone'"
                    [class.active-theme]="iconStyle === 'library-two-tone'"
                    >Two Tone
                </mat-list-item>
                <mat-list-item
                    (click)="iconStyle = 'library-round'"
                    [class.active-theme]="iconStyle === 'library-round'"
                    >Round
                </mat-list-item>
            </mat-nav-list>
            <mat-form-field style="flex-grow: 1; margin-left: 6px;">
                <h3>Category</h3>
                <mat-select [(ngModel)]="category">
                    <mat-option value="">All</mat-option>
                    <mat-option value="undocumented">Undocumented</mat-option>
                    <mat-option value="action">Action</mat-option>
                    <mat-option value="alert">Alert</mat-option>
                    <mat-option value="av">Av</mat-option>
                    <mat-option value="communication">Communication</mat-option>
                    <mat-option value="content">Content</mat-option>
                    <mat-option value="device">Device</mat-option>
                    <mat-option value="editor">Editor</mat-option>
                    <mat-option value="file">File</mat-option>
                    <mat-option value="hardware">Hardware</mat-option>
                    <mat-option value="home">Home</mat-option>
                    <mat-option value="image">Image</mat-option>
                    <mat-option value="maps">Maps</mat-option>
                    <mat-option value="navigation">Navigation</mat-option>
                    <mat-option value="notifications">Notification</mat-option>
                    <mat-option value="places">Places</mat-option>
                    <mat-option value="social">Social</mat-option>
                    <mat-option value="toggle">Toggle</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section [class.is-small]="isSmallScreen" [ngClass]="iconStyle" class="library-container">
            <div *ngFor="let category of groupedByCategory | filterCategory: category">
                <h2 class="category_name">{{ category[0].categories[0] | titlecase }}</h2>
                <!--        <div>-->
                <!--          <span>{{category.length}} icons</span>-->
                <!--        </div>-->
                <div
                    class="category-group"
                    [ngStyle]="{ 'justify-content': isSmallScreen ? 'space-around' : 'space-between' }"
                >
                    <app-icon-item
                        *ngFor="
                            let icon of category
                                | filter: term:['sizes_px', 'version', 'categories', 'unsupported_families'];
                            let index = index
                        "
                        [i]="index"
                        [icon]="icon"
                        [name]="icon.name"
                    >
                    </app-icon-item>
                </div>
            </div>
        </section>
    </div>
</div>
