.icon-item-container {
  height: 6rem;
  width: 6rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  user-select: none;

  cursor: pointer;

  border-radius: 0.5rem;

  transition: all 0.25s ease-out;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(157, 157, 157, 0.6);
    transform: translateY(-1px);
  }
}

.icon-item-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-item-title {
  display: block;
  max-width: 6rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem 0.125rem 0.5rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-radius: 0.25rem;
}

.icon-item-preview {
  display: inline-block;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
