.icon-item-container {
    height: 120px;
    width: 112px;
    padding: 8px;
    display: inline-block;
    text-align: center;
    user-select: none;

    border-radius: 8px;

    transition: all 0.25s ease-out;

    &:hover {
        box-shadow: 0 10px 20px 0 rgba(157, 157, 157, 0.6);
        transform: translateY(-1px);
    }
}

.icon-item-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon-item-title {
    display: block;
    max-width: 112px;
    margin-top: 8px;
    padding: 4px 8px 2px 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    border-radius: 4px;

    transition-duration: 0.3s;

    &:hover {
        color: white;
        background-color: rgb(0, 121, 107);
        box-shadow: 0 4px rgb(3, 162, 143);
    }
}

.icon-item-preview {
    display: inline-block;
    font-size: 48px;
    width: 48px;
    height: 48px;
    overflow: hidden;

    cursor: pointer;
}
